*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Segoe UI', sans-serif;
}

body{
  height:100vh;
  overflow:hidden;
  margin: 0;
   background:
    radial-gradient(circle at 50% 10%, rgba(255,255,200,0.15), transparent 40%),
    linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.65)),
    url("bp.jpg") center/cover no-repeat fixed;
}

/* Background */
.hero{
  width:100%;
  height:100vh;
  background:url("bg.jpg") center/cover no-repeat;
  position:relative;
}

/* Lamp */
/* Lamp wire */
.lamp{
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  z-index: 10;
}


.lamp::before{
  content:"";
  position:absolute;
  top:-40px;
  left:50%;
  width:2px;
  height:40px;
  background:#444;
  transform:translateX(-50%);
}

/* Bulb realistic */
.bulb{
  width:22px;
  height:22px;
  border-radius:50%;
  background:#666;
  margin:auto;
  transition:0.4s ease;
  box-shadow:0 0 0px transparent;
}

/* Realistic cone light */
.spotlight{
  position:absolute;
  top:70px;
  left:50%;
  transform:translateX(-50%);
  width:600px;
  height:600px;
  opacity:0;
  pointer-events:none;

  background: radial-gradient(
    ellipse at top,
    rgba(255,255,200,0.9) 0%,
    rgba(255,255,180,0.5) 20%,
    rgba(255,255,150,0.2) 40%,
    rgba(255,255,150,0.08) 60%,
    transparent 75%
  );

  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  filter: blur(8px);
  transition:0.6s ease;
}


#toggleBtn{
  margin-top:10px;
  padding:8px 18px;
  border:none;
  background:#333;
  color:#fff;
  border-radius:6px;
  cursor:pointer;
  transition:0.3s;
}


/* Glass Login Card */
.login-card{
  position:absolute;
  top:280px;
  left:50%;
  transform:translateX(-50%) scale(0.9);
  width:300px;
  padding:25px;
  border-radius:20px;
  backdrop-filter: blur(12px);
  background:rgba(255,255,255,0.15);
  border:1px solid rgba(255,255,255,0.3);
  box-shadow:0 20px 40px rgba(0,0,0,0.3);
  text-align:center;
  color:white;
  opacity:0;
  transition:0.5s ease;
}

.login-card h2{
  margin-bottom:15px;
}

.login-card input{
  width:100%;
  padding:10px;
  margin:10px 0;
  border:none;
  border-radius:8px;
  outline:none;
}

.signin{
  width:100%;
  padding:12px;
  border:none;
  border-radius:10px;
  background:linear-gradient(45deg,#ffd54f,#ff9800);
  font-weight:bold;
  cursor:pointer;
}
